@page "/"
@using Blazored.LocalStorage;
@using BookShopAdminFront.Service;
@inject NavigationManager Navigation;
@inject ILocalStorageService LocalStorage;
@inject NavigationManager NavigationManager;
@inject IdentityService IdentityService;


<AuthorizeView>
    <NotAuthorized>
        <h1>Welcome to Blazing Shop!</h1>
    </NotAuthorized>
    <Authorized>
        <h1>Welcome back, @token</h1>
    </Authorized>
</AuthorizeView>



@code {
    private string? token;

    protected override async Task OnInitializedAsync()
    {
        token = await IdentityService.GetTokenAsync();
        if (string.IsNullOrEmpty(token))
        {
            Navigation.NavigateTo("/login");
        }
    }

    /*  private async Task Logout()
              {
              await LocalStorage.RemoveItemAsync("token");
              NavigationManager.NavigateTo("/");
    }*/
}
